@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Short Link!</h1>
    <p>Enter your link below to be shortened.</p>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Your Link Here</span>
        <input type="text" class="form-control" placeholder="Enter Url" aria-label="longUrl" aria-describedby="basic-addon1">
    </div>
</div>
